/* What Client Says CSS */
.what-client-says {
    width: 100%;
    height: 840px;
  }
  .what-client-says-desc{
    padding: 12% 10%;
    background-color: var(--everblue);
    color: white;
    height: 840px;
  }
  .what-client-says-img {
    height: inherit;
    background-image: url("../images/young-couple-making-online-payment-using-credit-card-and-laptop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 300px 0;
  }
  