/* ini bagian container utama yang diatas bagian contact */
.main-container{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.container-contact{
    background-color: #053874;
    /* max-width: 900px; */
    width: 900px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    border-radius: 150px;
    align-items: center;
    color: white;
    margin: 10px auto ;
    font-family: 'Red Hat Display', sans-serif; ;
}

/* terpisah */

/* bagian footer bawah */
.container-bot-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 910px;
    margin: 50px auto;
    flex-wrap: wrap;
}
.sub-container{
    /* background-color: rgba(241, 190, 190, 0.933); */
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    width: 890px;
    margin: 50px auto;
    /* flex-wrap: wrap; */
}
/* bagian logo everpay dll yang satu grup */
.section-1.logo-social{
    width: 30%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.bot-footer-logo{
    width: 100%;
}
.bot-footer-img img{
width: 75%;
height: 40%;
display: flex;
}

.content-footer{
    width: 20%;
}
.bot-footer-quick-links{
    display: flex;
    justify-content: center;
}
.bot-footer-useful-links{
    display: flex;
    justify-content: center;
}
.bot-footer-copyright .allign-copyright{
    display: flex;
    justify-content: space-between;
    align-content:space-between;
}
.bot-footer-copyright{
    width: 910px;
    margin: 0 auto;
}
.icon-container-sosmed{
    width: 150px;
    height: 150px;
    background: #ee0ea3;
    border-radius: 100%;
}
/* buat ngatur posisi icon nnti */
.container-socmed{
    display:flex;
    justify-content:flex-start;
}

.wrapper{
    display: flex;
    justify-content: center;
}
.wrapper .icon{
    margin: 0 20px 0 0;   
}

.wrapper .icon span{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30px;
    width: 30px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 50%;
}
.wrapper .icon span i{
    font-size: 15px;
}
.wrapper.button.icon i{
    font-size: 10px;
    line-height: 20px;
    transition: all 0.3s ease-out;
}



/* .bot-footer-newslater{
    width: 25%;
    display: flex;
} */

/* ini untuk flexgrow klo perlu  */
/* .sub-container .content-footer div {
    flex: 1;
}
.sub-container .content-footer div.satu{
    flex: 2;
}
.sub-container .content-footer div.empat{
    flex:3;
} */
