.service-details{
    display: flex;
    flex-direction: row;
    padding:100px 0 0 0;
}

.details-navigation{
    width:35%;
    padding:10px;
}

.details-navigation li{
    padding:25px 15px;
    background-color:var(--evergray);
    background-image: linear-gradient(
        320deg,
        var(--everlightgray)0%,
        var(--everlightgray_2)100%
    );
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: var(--everblue);
    margin-bottom: 20px;
}

.details-navigation ul:nth-child(1){
    opacity:100%;
}

.details-navigation a{
    color:var(--everblue);
}

.details-navigation a:hover{
    opacity:100%;
}

.confused-features{
    width:100%;
    padding:30px;
    background-color:var(--everblue);
    margin:40px 0 0 0;
    border-radius: 15px;
    color:#fff;
}

.confused-features h6{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.confused-features p{
    line-height: 25px;
    margin-bottom: 40px;
    color: var(--evercolortext);
}

.service-contents{
    width:65%;
    margin: 0 0 0 40px;
}

.service-contents img{
    border-radius: 15px;
    width:100%;
    margin-bottom: 25px;
}

.service-contents h5{
    margin-bottom: 25px;
}

.service-contents p{
    color:var(--evergray);
    line-height: 20px;
    margin-bottom:25px;
}

.service-side-container{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.service-left-side{
    width:40%;
}

.service-right-side{
    width:60%;
}

.progress-bar-container{
    margin-left: 30px;
}

.progress-bar-container .bar{
    margin: 20px;
}

.progress-bar-container .bar:first-child{
    margin-bottom:20px;
}

.progress-bar-container .bar .info{
    margin-bottom: 5px;
}

.progress-bar-container .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.progress-bar-container .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background-color:var(--evergray);
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
    0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
    height: 100%;
    width:80%;
    background-color:var(--everblue);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;

}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-line.platform span{
    width:80%;
}

.progress-line.anomaly span{
    width: 93%;
}

.progress-line.recurring span{
    width: 73%;
}

.progress-line.merchant span{
    width: 85%;
}

.bar .progress-line span::before{
    position: absolute;
    content:"";
    right: 0;
    top:-10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#000;
    opacity:0;
    animation:showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after{
    position: absolute;
    right:0;
    top:-28px;
    background-color:#000;
    color:#fff;
    font-size: 12px;
    font-weight: 500;
    padding:1px 8px;
    border-radius: 3px;
    opacity:0;
    animation:showText 0.5s 1s linear forwards;
}

@keyframes showText{
    100%{
        opacity:1;
    }
}

.progress-line.platform span::after{
    content:"80%";
}

.progress-line.anomaly span::after{
    content:"92%";
}

.progress-line.recurring span::after{
    content:"73%";
}

.progress-line.merchant span::after{
    content:"85%";
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.smart-payment-selection-edited{
    width: 50%;
    margin-bottom: 25px;
}